img {
  max-width: 100%;
}

/* fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: $h-font-family;
  color: $text;
  margin: 0;
}

h2 {
  font-size: 3em;
  letter-spacing: -2.2px;
  font-weight: 800;
  margin: 0;
}

p {
  margin-bottom: 2.5rem;
  @media (max-width: $tablet-width) {
    margin-bottom: 1.5rem;
  }
}

h3 {

  font-size: 2.2em;
  margin-bottom: 10px;
}

a, a:hover {
    color: $black;
    text-decoration: none;
}

blockquote {
  font-family: $h-font-family;
  font-size: 2.2rem;
  color: inherit;
  > p:before {
    display: inline-block;
    content: '‟';
    font-size: 6rem;
    top: 23px;
    position: relative;
    line-height: 0;
  }
}

/* sections */

body {
  background-color: $bg;
  font-family: $body-font-family;

}

.container {
  background-color: transparent;
  width: 1500px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
}

/*patch*/
@media(max-width: $tablet-width){
  .eleven.columns.no-gutter {
    width: 100%;
    padding: 0px 0 0 50px;
  }
}
@media (min-width: 550px) {
.eleven.columns.no-gutter         { width: 94.3333333333%; margin-left:0;          }
}
