/* site header */

.site-headline {
  display: block;
  position: relative;
  padding: 100px;
  h1 {
    max-width: 100px;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
  }
}

.social {
  
}



/* site nav */

.menu-list {
  display: block;
  width: 100%;
  text-align: center;
  .menu-link {
    padding: 5px 10px;
    font-size: 2rem;
    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }
}


/*
  Responsiveness with a dropdown menu
*/

.dropdown {

  .dropbtn {
    display: none;
    @media (max-width: $container-width) {
      display: block;
      background-color: white;
      color: black;
      padding: 16px;
      margin-top: 4px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      position: absolute;
      top: -75px;
    }
    @media (max-width: $tablet-width) {
      top:0;
      display: block;
    }
  }
  .dropdown-content {
    display: none;
    @media (max-width: $container-width) {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          a {
             color: black;
             padding: 12px 16px;
             text-decoration: none;
             display: block;
             &:hover {
               background-color: transparent
             }
          }
    }
    @media (max-width: $tablet-width) {
      z-index: 121;
    }
    .menu-link {
      @media (max-width: $tablet-width) {
      display: block !important;
      text-align: center;
      width: 200px !important;
      padding: 5px!important;
      }
    }
  }
  @media (max-width: $container-width) {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
        display: block;
    }
    &:hover .dropbtn {
        background-color: transparent;
    }
    }
    @media (max-width: $tablet-width) {
      position: absolute;
      display: block;
      top: 0;
      z-index: 120;
    }
}
