// clrs.cc
.red {
  color: $red;
}
.red-bg {
  background: $red;
}
// button
.btn {
  display: inline-block;
  width: auto;
  min-width: 85px;
  margin-left: 0;
  background: $red;
  border: 3px solid $red;
  color: $contrast-text;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  > i {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    top: 1px;
  }
  @media (max-width: $large-tablet-width) {
    min-width: 60px;
  }
}


.btn-light {
  display: inline-block;
  width: auto;
  min-width: 85px;
  margin-left: 0;
  background: $contrast-text;
  border: 3px solid $gray;
  color: $gray;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  > i {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    top: 1px;
  }
  @media (max-width: $large-tablet-width) {
    min-width: 60px;
  }
}


#up {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $black;
  width: 46px;
  height: 46px;
  text-align: center;
  a {
    color: $contrast-text;
    line-height: 3;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
    padding-left: 6px;
  }
}
