section {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    clear: both;
    @media (max-width: $tablet-width) {
      height: auto;
    }
    &#landing {
      padding: 20vh 28%;
      box-sizing: BORDER-BOX;
      text-align: left;
      background: $bg;
      @media (max-width: $large-tablet-width) {
        padding: 2vh 20%;
      }
      @media (max-width: $tablet-width) {
        height: 100vh;
        width: 100%;
      }
      .brand {
        font-size: 1rem;
        position: absolute;
        top: 10px;
        left: 0;
        padding-left: 10px;
        color: $red;
      }
      .canvas {
        h1 {
          margin: 15px 0;
          color: $text;
          font-size: 5em;
          @media (max-width: $large-tablet-width) {
            font-size: 2em;
          }
        }
        > p {
          color: $text;
          font-size: 170%;
          @media (max-width: $large-tablet-width) {
            font-size: 100%;
          }
        }
      }
      .off-canvas {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        &:before {
          border-top: 1px solid $red;
          content:"";
          margin: 0 auto;
          position: absolute;
          top: 52%; left: 0; right: 0; bottom: 0;
          width: 100%;
          z-index: 0;
        }
        a {
          text-decoration: none;
          position: absolute;
          font-size: 3em;
          top: 0px;
          background: $bg;
          padding: 0 32px;
          color: $red;
          left: 55vw;
          transition: all .3s ease;
          @media (max-width: $large-tablet-width) {
            left: 48vw;
            font-size: 1.2em;
            padding: 0 12px;
          }
          &:hover {
            color: $service1;
          }

        }
        > a:first-of-type {
          left: 7vw;
          @media (max-width: $large-tablet-width) {
            left: 0;
          }
        }
        > a:nth-of-type(2) {
          left: 30vw;
          @media (max-width: $large-tablet-width) {
            left: 20vw;
          }
        }
      }
      h1,h2 {
        margin: 0;
        color: $contrast-text;
        font-weight: 800;
        font-family: $body-font-family;
      }

      h2 {
        margin: 20px 0;
        font-size: 1.5em;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 2.2px;

      }
    }
    &:nth-of-type(2){
      background: $service3;
      border-bottom: 1px solid $gray;
      .side {
        background: $service1;
      }

    }
    &:nth-of-type(3){
      background: $service3;
      border-bottom: 1px solid $gray;
      .side {
        background: $service2;
      }
    }
    &:nth-of-type(4){
      background: $service3;
      .side {
        background: $bg;
      }
    }
}

.side {
  display: block;
  position: relative;
  padding: 10px;
  height: 100vh;
  overflow: hidden;
  @media (max-width: $large-tablet-width) {
    padding: 3px;
  }
  @media (max-width: $tablet-width) {
    height: 100%;
    display: block;
    float: left;
    position: absolute;
  }
  @media (max-width: $phone-width) {
    width: 20vw;
  }

  h2 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    bottom: 33px;
    left: 10px;
    font-size: 1.2rem;
    letter-spacing: initial;

    @media (max-width: $large-tablet-width) {
      bottom: 5px;
      left: 0px;
    }
    @media (max-width: $phone-width) {
      bottom: 30px;
    }
  }
  .bottom {
    font-size: 1rem;
    @media (max-width: $large-tablet-width) {
      font-size: 1rem;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      line-height: 1;
      position: relative;
      bottom: -22px;
    }
  }
}

.item {
  position: relative;
  display: block;
  color: $text;

  .desc {
    padding-right: 4%;


    .content p {
      font-size: 80%;
    }
    p {
      font-family: $code-font-family;

    }
  }
  @media (min-width: $large-tablet-width) {
    padding: 46px 97px 0 0px;
  }
  @media (max-width: $tablet-width) {
    font-size: 60%;
  }
  .overlay {
    filter: url(#oldtimes);
    display: block;
    > div {
      position: relative;
      display: block;
      width: 100%;
      height: 100vh;
      background-size: cover!important;
      background-position: top center !important;
      @media (min-width: $large-tablet-width  ){
        height: 30vh;
      }
    }
  }
}
