<svg>
 <filter id="bluish">
  <feColorMatrix
  type="matrix"
      values="0.9 0.3 0.5 0 0
              -0.1 1.3 -0.2 0 0
              0 0.1 0.8 0.2 0
              0 0 0 0.9 0 "/>
 </filter>
 <filter id="oldtimes">
   <feColorMatrix
     type="matrix"
     values="1 0.4 0 0 0
             -0.5 1.9 -0.4 0 -0.1
             0.1 -0.3 0.8 0.1 0
             0 0 0 1.1 -0.2 "/>
  </filter>
<svg>
