<meta charset="utf-8">
<meta content="index,follow,all" name="robots" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title | capitalize }} / {% endif %}{{ site.title | capitalize }}</title>
<link rel="icon" type="image/x-icon" href="/assets/ico/favicon.ico">
<link rel="dns-prefetch" href="//fonts.gstatic.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />

{% if page.canonical %}
<link href="{{page.canonical}}" rel="canonical" />
{% else %}
<link href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" rel="canonical" />
{% endif %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skeleton.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css">

{% feed_meta %}
<!-- RSS-v2.0
<link href="{{ site.url }}/feed/rss.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
//-->

<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{{ page.title }} via @{{ site.twitter_username }}" />
<meta name="twitter:description" content="{% if page.description%}{{ page.description }}{% else %}{{ page.content | markdownify | strip_html | truncatewords: 35}}{% endif %}" />
<!-- opengraph -->
<meta property="og:locale" content="en" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }} on {{ site.title }}" />
<meta name="og:description" content="{% if page.description%}{{ page.description }}{% else %}{{ page.content | markdownify | strip_html | truncatewords: 35}}{% endif %}" />
<meta property="og:url" content="{{ page.url | prepend:site.url}}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:updated_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />

{% seo %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.data.settings.google-ID }}', 'auto');
  ga('send', 'pageview');
</script>
