<div class="row item">
  <div class="columns seven">
    <div class="overlay">
      <img src="{{post.feature}}" class="featured"/>
    </div>
  </div>
  <div class="columns five desc">
    <h3>{{ post.title }}</h3>
    <div class="content">{{ post.content }}</div>
    <p>{% for tag in post.tags %}#{{ tag }} {% endfor %}</p>

  </div>
</div>
