---
# Front matter comment to ensure Jekyll properly reads file.
---

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
$base-font-family:  'Didact Gothic', sans-serif;
$body-font-family:  'Didact Gothic', sans-serif;
$h-font-family:     'Didact Gothic', sans-serif;
$code-font-family:  monospace;
/* brand */
$bg:                #f30568; /*#ce0022;*/
$contrast-text:     #ffffff;
$text:              #222222;
$service1:            #d4bdab;
$service2:            #69808b1a;
$service3:            #f7efde;
/* violet #ff95f0 */
/* color classes */
$black:   #111;
$red:     #fb6c61;
$gray:    #444;
$yellow:  #f0ff5d;
/* Responsive breaks */
$container-width: 1300px;
$large-tablet-width: 770px;
$tablet-width: 600px;
$small-tablet-width: 550px;
$phone-width: 480px;
@import "_sass/-sections-dir";
