<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    {% include header.html %}
    <div class="container maincontent">
      <section id="landing">
        <p class="brand">design by<br>theoryforce</p>

        <div class="canvas">
          <p>{{ site.tagline}}</p>
          {{ content }}
          <p>{{ site.description }}</p>
        </div>
       <div class="off-canvas">
        {% for cat in site.categories %}
          <a href="#{{ cat[0] }}">{{ cat[0] }}</a>
        {% endfor %}
       </div>
      </section>
      {% for cat in site.categories %}
      <section id="{{ cat[0] }}">
        <div class="row">
          <div class="columns one side">
            {% include side.html %}
          </div>
          <div class="columns eleven no-gutter ">
            {% for post in site.posts %}
            {% if post.categories contains cat[0] %}
              {% include item.html %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
      {% endfor %}
      <div id="up"><a href="#">UP</a></div>
    </div>
    {% include _svg.html %}

  </body>
</html>
